.formContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .folderRow {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .folderItem {
    text-align: center;
  }
  
  .folderItem p {
    text-decoration: none;
    color: #f9f8fa;
  }
  

.logout {
    position: absolute;
    top: 90px;
    left: 80%;
}

.createfolder{
    position: absolute;
    top: 90px;
    left: 88%;
}

.pageTitle {
    text-align: center;
    /* Replace with a suitable color that matches the background */
    ;
    /* Adjust the size as needed */
    margin-top: 20px;
    /* Add margin to position it correctly */
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color:#f9f8fa;

}

.pageTitle,
h1 {

    font-size: 60px;
    /* Adjust the size as needed */
    color: #e3e3e4;
    /* Replace with a suitable color that matches the background */
    text-align: center;
    padding: 20px;
    background-color: #360c96;
    border-radius: 10px;
    margin-top: 40px;
    /* Add margin to position it correctly */


}




.card:hover {
    transform: translateY(-5px);
}


.card-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 125px;
  
}

.litxt{
  text-decoration: none;
}